In [8]:
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
data = pd.read_excel("original_data.xlsx")

In [10]:
data.head()

,Mine No,CMRR,bolt_length(ft),bolt_tension,bolt_grout,bolt_capacity,bolts_p_row,row_spacing,entry_width,PRSUP,...,mining_hight,drivage_10k_feet,no_of_3_way,no_of_4_way,no_of_segment,falls_3w,falls_4way,segment_fall,roof_fall_rate,fall
0,1,59,6.0,0,3,20.5,4,5.0,18.5,5.32,...,6.0,3.50,94,282,705.0,0,0,0.0,0.00,0
1,1,59,6.0,1,3,20.5,4,5.0,18.5,5.32,...,6.0,3.50,95,300,742.5,0,0,0.0,0.00,0
2,2,50,4.0,0,3,17.7,4,4.0,18.0,3.93,...,7.0,3.02,82,175,473.0,0,1,1.0,0.66,1
3,2,50,6.0,0,3,17.7,4,4.0,18.0,5.90,...,7.0,0.93,22,55,143.0,0,1,0.0,1.08,1
4,2,75,4.0,0,3,17.7,4,4.0,18.0,3.93,...,7.0,2.34,58,116,319.0,0,0,0.0,0.00,0

In [12]:
selected_columns = [
        "CMRR", "PRSUP", 
        "depth_of_ cover",
        "intersection_diagonal", 
        "mining_hight", 
        "roof_fall_rate"
    ]

df = data[selected_columns]
df = df.rename(columns={
    "depth_of_ cover": "Depth",
    "mining_hight": "MH",
    "intersection_diagonal": "IS",
    "roof_fall_rate": "RFR",
    "PRSUP": "PRSUP"
})

print(df)

     CMRR  PRSUP  Depth    IS   MH   RFR
0      59   5.32    150  65.9  6.0  0.00
1      59   5.32    150  65.9  6.0  0.00
2      50   3.93    400  60.0  7.0  0.66
3      50   5.90    400  60.0  7.0  1.08
4      75   3.93    400  60.0  7.0  0.00
..    ...    ...    ...   ...  ...   ...
104    49   3.98    200  57.0  3.0  0.00
105    49   3.98    200  63.0  3.0  0.00
106    60   4.65    400  60.0  4.3  0.06
107    39   6.98    400  60.0  4.3  0.36
108    40   5.81    400  60.0  4.3  1.79

[109 rows x 6 columns]

In [13]:
df.head()

   CMRR  PRSUP  Depth    IS   MH   RFR
0    59   5.32    150  65.9  6.0  0.00
1    59   5.32    150  65.9  6.0  0.00
2    50   3.93    400  60.0  7.0  0.66
3    50   5.90    400  60.0  7.0  1.08
4    75   3.93    400  60.0  7.0  0.00

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CMRR    109 non-null    int64
 1   PRSUP   109 non-null    float64
 2   Depth   109 non-null    int64
 3   IS      109 non-null    float64
 4   MH      109 non-null    float64
 5   RFR     109 non-null    float64
dtypes: float64(4), int64(2)
memory usage: 5.2 KB

In [15]:
df.describe()

             CMRR       PRSUP        Depth          IS          MH         RFR
count  109.000000  109.000000   109.000000  109.000000  109.000000  109.000000
mean    47.724771    5.711009   448.853211   63.447706    6.307339    2.750826
std     11.104613    2.286372   223.202318    5.607594    1.925305    5.251759
min     28.000000    2.460000   150.000000   50.000000    3.000000    0.000000
25%     40.000000    3.980000   300.000000   60.000000    5.000000    0.000000
50%     45.000000    5.320000   400.000000   63.000000    6.500000    0.520000
75%     53.000000    6.830000   500.000000   66.300000    7.500000    3.150000
max     78.000000   14.670000  1100.000000   78.400000   10.000000   31.820000

In [ ]:
df.hist(bins=50,figsize=(20,15))